.med_btn {
    background-color: #4CAF50; /* Cor de fundo do botão */
    color: #000000; /* Cor do texto */
    border-radius: 8px; /* Arredondamento dos cantos */
    border: 2px solid #388E3C; /* Cor da borda */
    margin-left: 5px;
}

.recep_btn {
    background-color: #2160c0; /* Cor de fundo do botão */
    color: #000000; /* Cor do texto */
    border-radius: 8px; /* Arredondamento dos cantos */
    border: 2px solid #2160c0; /* Cor da borda */
    margin-right: 5px;
}

.admin_btn {
    background-color: #c06e21; /* Cor de fundo do botão */
    color: #000000; /* Cor do texto */
    border-radius: 8px; /* Arredondamento dos cantos */
    border: 2px solid #c06e21; /* Cor da borda */
}